.cards-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.App-footer {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: var(--grey);
  box-sizing: border-box;
  position: relative;
  padding: 0px 20px;
}
