/* :root {
  --red: #d22f27;
  --black: #000000;
  --white: #e5e5e5;
  --grey: #222222;
} */

.btn {
  font-family: Roboto;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 19px;
  z-index: 2;
}

*:focus {
  outline: 0;
}

/* Button Styles and Sizes */

.btn--primary-solid {
  background-color: var(--red);
  color: var(--white);
}

.btn--primary--outline {
  border: 1px solid var(--red);
  background-color: Transparent;
  color: var(--white);
}

.btn--medium {
  width: 120px;
  height: 40px;
}

.btn--small {
  width: 120px;
  height: 30px;
}

.btn--large {
  width: 156px;
  height: 40px;
}
