.MoviesContainer {
  max-width: 1120px;
  margin: auto;
  height: 100%;
  background-color: var(--black);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.loader {
  background-color: var(--black);
  padding: 100px 0px;
}
