.movieBlock {
  width: 270px;
  height: 350px;
  background-color: var(--grey);
  display: flex;
  flex-flow: column nowrap;
  margin: 50px 50px 0px;
  color: var(--white);
}

.movieBlock .img-container {
  width: 270px;
  height: 202px;
}

.movieBlock .img-container img {
  object-fit: cover;
  object-position: 0 15%;
  width: 100%;
  height: 202px;
}

.movieBlock p {
  width: 227px;
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.movieBlock a {
  color: var(--white);
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-decoration: none;
}

.movieBlock .movie-info {
  margin: 0px 20px;
}

.movie-info {
  height: 139px;
}
