.title {
  text-transform: uppercase;
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  color: #000000;
  padding: 0;
}

/* .title--banner {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 56px;
  text-align: center;
  z-index: ;

  color: var(--white);

  text-shadow: -1px 8px 7px rgba(0, 0, 0, 0.39);
} */
