:root {
  --red: #d22f27;
  --black: #000000;
  --white: #e5e5e5;
  --grey: #222222;
}

.App {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

/* .App-header {
  background: orange;
  position: relative;
  height: 100px;
} */

.Navbar {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: var(--black);
  padding: 0px 20px;
}

.Navbar a {
  display: inline-block;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 700;
  color: var(--red);
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  width: 100%;
}

.moviesContainer {
  max-width: 1120px;
  margin: auto;
  height: 100%;
  background-color: var(--black);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.credit-cards {
}

.cards-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.App-footer {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: var(--grey);
  box-sizing: border-box;
  position: relative;
  padding: 0px 20px;
}

.btnContainer {
  margin: 50px;
}
